@font-face{font-family:NautilusPompilius;src:url(../fonts/Nautilus.eot);src:url(../fonts/Nautilus.eot) format('embedded-opentype'),url(../fonts/Nautilus.woff2) format('woff2'),url(../fonts/Nautilus.woff) format('woff'),url(../fonts/Nautilus.ttf) format('truetype'),url(../fonts/Nautilus.svg#Nautilus) format('svg');font-style:normal;font-weight:700}
@font-face{font-family:MuseoSansCyrl;src:url(../fonts/MuseoSansCyrl_900.eot);src:url(../fonts/MuseoSansCyrl_900.eot) format('embedded-opentype'),url(../fonts/MuseoSansCyrl_900.woff2) format('woff2'),url(../fonts/MuseoSansCyrl_900.woff) format('woff'),url(../fonts/MuseoSansCyrl_900.ttf) format('truetype'),url(../fonts/MuseoSansCyrl_900.svg#MuseoSansCyrl_900) format('svg');font-style:bold;font-weight:900}
@font-face{font-family:MuseoSansCyrl;src:url(../fonts/MuseoSansCyrl_700.eot);src:url(../fonts/MuseoSansCyrl_700.eot) format('embedded-opentype'),url(../fonts/MuseoSansCyrl_700.woff2) format('woff2'),url(../fonts/MuseoSansCyrl_700.woff) format('woff'),url(../fonts/MuseoSansCyrl_700.ttf) format('truetype'),url(../fonts/MuseoSansCyrl_700.svg#MuseoSansCyrl_700) format('svg');font-style:normal;font-weight:700}
@font-face{font-family:MuseoSansCyrl;src:url(../fonts/MuseoSansCyrl_500.eot);src:url(../fonts/MuseoSansCyrl_500.eot) format('embedded-opentype'),url(../fonts/MuseoSansCyrl_500.woff2) format('woff2'),url(../fonts/MuseoSansCyrl_500.woff) format('woff'),url(../fonts/MuseoSansCyrl_500.ttf) format('truetype'),url(../fonts/MuseoSansCyrl_500.svg#MuseoSansCyrl_500) format('svg');font-weight:500}
@font-face{font-family:MuseoSansCyrl;src:url(../fonts/MuseoSansCyrl_300.eot);src:url(../fonts/MuseoSansCyrl_300.eot) format('embedded-opentype'),url(../fonts/MuseoSansCyrl_300.woff2) format('woff2'),url(../fonts/MuseoSansCyrl_300.woff) format('woff'),url(../fonts/MuseoSansCyrl_300.ttf) format('truetype'),url(../fonts/MuseoSansCyrl_300.svg#MuseoSansCyrl_300) format('svg');font-weight:300}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;background-repeat:no-repeat;background-position-x:center;background-position-y:top}
:after,:before{content:" ";display:block;width:100%;height:0;clear:both}
a:after,a:before,big:after,big:before,br:after,br:before,img:after,img:before,span:after,span:before,sub:after,sub:before,sup:after,sup:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
.clear{clear:both}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center}
body{font-family:MuseoSansCyrl,sans-serif;font-weight:300;letter-spacing:.027em;color:#333}
a{text-decoration:none;color:inherit;outline:0!important}
#maket{width:100%;height:9000px;background:url(../maket.jpg) no-repeat center top;opacity:.4;position:absolute;top:0;z-index:30;display:none}
.wrapper{width:980px;margin:0 auto;height:100%;position:relative;text-align:center;z-index:10}
.wrap{width:980px;position:relative}
.clear{clear:both}
footer,header,section{width:100%;min-width:980px;overflow:hidden}
.logo{background-image:url(../img/logo.png);width:301px;height:90px;display:block;margin-top:40px}
.btn{width:235px;height:52px;-webkit-border-radius:26px;border-radius:26px;background-clip:padding-box;background:#3BD217;color:#fff;font-family:NautilusPompilius;font-size:22px;text-align:center;line-height:52px;cursor:pointer;outline:0;border:none}
.head{position:relative;width:100%}
header .btn{margin-top:41px}
.right{float:right;text-align:center}
.left{float:left}
.phone{color:#333;font-size:20px;font-weight:500;text-align:center;display:inline-block}
.phone span{width:54px;height:37px;-webkit-border-radius:19px/19px 19px 19px 19px;border-radius:19px/19px 19px 19px 19px;background-clip:padding-box;padding:5px;text-align:center;margin:0 5px}
header .phone{padding-bottom:15px;padding-top:15px}
h2{color:#333;font-family:NautilusPompilius;font-size:45px;line-height:50px}
h2 span{color:#e4b21d}
header h2{position:relative}
header{background:url(../img/bg-header1.jpg) no-repeat top 32% center;position:relative;z-index:20;height:1015px;background-size:cover;min-height:600px;height:100vh!important}
.label{position:relative;background:url(../img/stamp.png) no-repeat center;width:132px;height:132px;float:right;margin-right:3px}
p{text-align:center;color:#000;font-size:20px}
header p{color:#000}
.content{position:relative;text-align:center}
.sec2 .arrow{position:absolute;left:50%;margin-left:-22px;bottom:113px}
.sec3 .arrow{position:absolute;left:50%;margin-left:-22px;bottom:121px}
.arrow{background:url(../img/arr-down.png) no-repeat top;margin:0 auto;display:block}
.arrow:hover{background:url(../img/arr-down-how.png) no-repeat top}
.view.arrow{position:absolute;left:50%;margin-left:-90px;padding-top:28px;z-index:50!important}
.sec6 .view{bottom:42px}
.view{color:#333;font-family:NautilusPompilius;font-size:24px;display:block;text-align:center}
header .view{position:relative!important;left:0!important;margin-left:0!important;width:180px}
.sec1{position:relative;z-index:18;height:775px;background-size:cover}
.sec1 h2{font-size:32px;padding-top:115px;line-height:32px;padding-bottom:45px;font-family:MuseoSansCyrl,sans-serif;font-weight:500;text-shadow:0 0 10px #fff}
.sec1 .calc{height:380px;width:800px;margin:0 auto;-webkit-border-radius:10px;border-radius:10px;background-color:#fff;-webkit-box-shadow:0 1px 27px rgba(52,52,52,.29);box-shadow:0 1px 27px rgba(52,52,52,.29);position:relative}
.calc h3{color:#333;font-weight:500;font-size:28px;padding-top:28px;padding-bottom:22px}
input{display:inline-block;width:237px;height:50px;-webkit-border-radius:10px;border-radius:10px;background-clip:padding-box;background-color:#fff;outline:0;border:1px solid transparent;padding-left:15px;line-height:34px;color:#333;font-size:20px;opacity:1;color:#000}
input::-webkit-input-placeholder{opacity:.6;color:#333;font-size:20px}
input:focus{border:1px solid #cba575}
.calc .center{height:174px;background-color:rgba(203,165,117,.3);text-align:center;letter-spacing:3px}
.center .content1{padding-top:64px}
.sec1 p{font-size:20px;padding-top:23px;font-weight:400;text-shadow:0 0 6px rgba(150,150,150,1)}
.back{color:#333;font-size:20px}
.calc .back{float:left;margin:27px 0 53px 50px;font-size:19px;font-weight:500;font-weight:500;display:inline-block;padding-left:17px;background:url(../img/arr-sm.png) no-repeat left top 3px}
.calc .btn{float:left;margin:19px 0 0 27px;width:280px;height:55px}
.center .content2{padding-top:58px}
.content2 .btn-big{width:170px;height:62px;-webkit-border-radius:10px/10px 10px 10px 10px;border-radius:10px/10px 10px 10px 10px;background-color:#fff;display:inline-block;letter-spacing:normal;padding-top:7px;color:#000;font-size:18px;cursor:pointer;vertical-align:top;line-height:47px}
.btn-round{width:37px;height:37px;-webkit-border-radius:19px;border-radius:19px;background-color:#cba575;display:inline-block;color:#fff;font-size:18px;font-weight:500;text-align:center;padding-top:6px;letter-spacing:normal;cursor:pointer;border:2px solid transparent}
.btn-round.active{background-color:#fff;border:2px solid #cba575;color:#cba575}
.btn-round.no-active{background-color:#fff;border:2px solid #333;color:#333}
.btn-round:hover{background-color:rgba(251,233,212,.64);border:2px solid #cba575;color:#9C7C54}
.btns{margin-top:24px;margin-left:-105px;letter-spacing:17px;position:absolute;bottom:28px;left:50%}
.calc-h3{line-height:70px}
.content2 .btn-big .line-h,.line-h{line-height:normal!important}
.sec2{background:url(../img/bg2-separator.png) no-repeat bottom center;position:relative;z-index:16;height:997px;background-size:cover}
.sec2 h2,.sec3 h2{font-size:50px;padding-top:92px}
.sec2 .content{text-align:center;padding-top:152px;background:url(../img/girl-bg2.png) no-repeat center left 52.5%;height:698px;margin-top:-9px}
.sec2 .trig{width:345px;display:inline-block;margin-bottom:68px}
.sec2 .img{float:left}
.sec2 .cont{float:left}
.sec2 .h4{font-family:NautilusPompilius;font-size:32px;line-height:32px}
.sec2 p{font-family:MuseoSansCyrl,sans-serif;font-size:20px;line-height:24px;padding-top:14px}
.sec2 .view{bottom:109px}
.sec3 h2{padding-top:130px}
.sec3{background-color:#fcebe0;margin-top:-22px;z-index:14;position:relative;height:1008px}
.sec3 .triger{text-align:center;letter-spacing:10px;margin-top:51px}
.togl{background:#3EDC19;color:#fff!important;padding:10px;-webkit-border-radius:26px;border-radius:26px}
.togl:hover{background:#09A200;-webkit-transition:all .25s;transition:all .25s}
.togr:hover{background:#09A200;-webkit-transition:all .25s;transition:all .25s}
.togr{background:#3EDC19;color:#fff!important;padding:10px;-webkit-border-radius:26px;border-radius:26px;-webkit-transition:all .25s;transition:all .25s}
.sec3 span{opacity:.8;color:#534f4d;font-family:NautilusPompilius;font-size:20px;display:inline-block;vertical-align:middle;letter-spacing:normal;cursor:pointer;-webkit-transition:all .25s;transition:all .25s}
.sec3 .toggle{display:inline-block;width:83px;height:48px;-webkit-border-radius:41px/19px;border-radius:41px/19px;background-clip:padding-box;background-color:#fff;vertical-align:middle;position:relative;cursor:pointer}
.sec3 .toggle[data-page="1"]:after{left:32px}
.sec3 .toggle:after{content:" ";width:41px;height:33px;-webkit-border-radius:21px/15px;border-radius:21px/15px;background-color:#ffcb33;position:absolute;top:50%;margin-top:-16px;-webkit-transition:all .25s!important;transition:all .25s!important;left:7px}
.sec3 .content{text-align:center;margin-top:11px;letter-spacing:7px;position:absolute;top:0;z-index:1;-webkit-transition:all 1s;transition:all 1s}
.sec3 .block{text-align:center;position:relative;display:inline-block;letter-spacing:normal}
.sec3 .block p{font-size:18px;line-height:23px;font-weight:700}
.sec3 .block span{color:#534f4d;font-size:16px;line-height:23px}
.sec3 .block .img{height:164px;line-height:164px}
.sec3 .block img{display:inline-block;vertical-align:bottom}
.sec3 .block img:before{content:"";display:inline-block;min-height:inherit;height:100%;vertical-align:middle}
.sec3 .content .block{background-image:url(../img/sec3-board.png);width:208px;height:275px;vertical-align:middle;margin-bottom:5px}
.sec3 .btn{width:126px;height:37px;margin:0 auto;font-size:18px;line-height:37px;-webkit-transition:all .25s;transition:all .25s}
.label-top{position:absolute;background-image:url(../img/label.png);width:56px;height:55px;top:28px;right:29px;font-size:12px;font-weight:500;-webkit-transform:rotate(-20deg);-ms-transform:rotate(-20deg);transform:rotate(-20deg);padding-top:12px;padding-left:4px}
.sec3 .view{bottom:117px}
.sec4{background:url(../img/sec4-bg.png) no-repeat top 219px center;margin-top:-18px;z-index:15;position:relative;height:1046px}
.sec4 h2{font-size:50px;padding-top:123px;line-height:57px}
.sec4 .content{margin-top:136px;height:520px}
.sec4 .trig{margin-bottom:205px;letter-spacing:12px}
.sec4 .trig img,.sec4 .trig p,.sec4 .trig span{display:inline-block;vertical-align:middle;letter-spacing:normal}
.sec4 .trig p{font-size:20px}
.sec4 .trig span{opacity:.8;color:#7f6519;font-size:57px;font-weight:900}
.left-bl{float:left;width:308px}
.left-bl p{text-align:right}
.right-bl p{text-align:left}
.right-bl{float:right;width:327px}
.sec4 .view{bottom:119px}
.sec5{position:relative;z-index:14;margin-top:-20px;background:#fcece1;background:url(../img/girl-bg5.png) no-repeat bottom left 49.6%;background-color:#fcece1;height:989px}
.sec5 h2{font-family:NautilusPompilius;font-size:32px;padding-top:107px;line-height:40px}
.sec5 form{padding-top:26px;width:964px;height:105px;opacity:1;-webkit-border-radius:53px;border-radius:53px;border:3px solid #dbc5b3;margin:35px auto 0;z-index:20;text-align:center;letter-spacing:4px}
.sec5 input{width:210px;height:45px}
.sec5 .btn{width:215px;height:50px;-webkit-transition:all .25s;transition:all .25s}
.lock{font-size:16px;background:url(../img/lock.png) no-repeat left top;float:right;margin-top:10px;margin-right:50px;padding-left:24px}
.sec5 .content{margin-bottom:252px;margin-top:245px;letter-spacing:261px}
.sec5 .trig{display:inline-block;letter-spacing:3px;font-weight:700}
.sec5 .trig p{display:inline-block;line-height:28px;text-align:right;letter-spacing:normal;vertical-align:middle}
.sec5 .trig:nth-child(2) p{text-align:left}
.sec5 .trig img{letter-spacing:normal;display:inline-block;vertical-align:middle}
.sec6{height:1000px;margin-top:-20px}
.sec6 h2{font-family:NautilusPompilius;font-size:50px;padding-top:122px}
.slide{margin:0 auto;width:700px}
.slide img{width:686px!important;height:415px;-webkit-border-radius:361px 361px/258px 258px;border-radius:361px 361px/258px 258px;background-clip:padding-box;background-color:#51b9ff}
.left-arr a,.right-arr a{display:block;position:relative;width:100%;height:100%;color:transparent}
.left-arr{position:absolute;left:0;top:30.5%;background:url(../img/arr-left.png) no-repeat top center;height:108px;width:44px;cursor:pointer;z-index:10}
.right-arr{position:absolute;right:0;top:30.5%;background:url(../img/arr-right.png) no-repeat top center;height:108px;width:44px;cursor:pointer;z-index:10}
.sliderg{position:relative;padding-top:65px}
.slider-choose{text-align:center;margin-top:63px;letter-spacing:15px}
.slider-choose .img{width:163px;height:85px;-webkit-border-radius:88px/16px;border-radius:88px/16px;cursor:pointer}
.slider-choose .item:hover>.bl p{opacity:.7;-webkit-transition:.4s;transition:.4s;cursor:pointer}
.slider-choose .item.active>a{text-decoration:none;color:#333;text-decoration:none}
.slider-choose .item.active>.bl p{opacity:.7;-webkit-transition:.4s;transition:.4s;cursor:pointer}
.slider-choose .item:hover>a{text-decoration:none;color:#333;text-decoration:none}
.slider-choose .item{display:inline-block;letter-spacing:normal;position:relative;margin-bottom:47px}
.slider-choose span{color:#53b0e1;font-size:16px;text-decoration:underline;letter-spacing:0;display:inline-block}
.bl{position:relative;margin-bottom:6px}
.bl p{position:absolute;top:0;width:100%;height:100%;-webkit-border-radius:88px/16px;border-radius:88px/16px;opacity:0;-webkit-transition:.4s;transition:.4s;background:url(../img/arr-white.png) no-repeat top 30px center;background-color:#9fc17d;height:85px}
.slider-choose .item:hover span{text-decoration:none;color:#000}
.slider-choose .item.active span{text-decoration:none;color:#000}
.sec6 .arrow{bottom:68px;background:url(../img/arr-down.png) no-repeat bottom center;padding-top:0;height:64px}
.maps{height:1005px;position:relative;width:100%}
.map_t{background:url(../img/light-separ.png) no-repeat top center;height:228px;position:absolute;width:100%;z-index:100;top:0;background-size:cover}
.map_b{background:url(../img/footer-sp.png) no-repeat bottom center;height:34px;position:absolute;width:100%;z-index:100;bottom:0;background-size:cover}
#map{height:1005px;width:100%;z-index:1}
.pointer{position:absolute;background:url(../img/pointer.png) no-repeat top center;width:491px;height:421px;top:33%;left:39%}
footer{text-align:center;letter-spacing:273px;padding-top:5px;margin-bottom:10px}
footer p{display:inline-block;letter-spacing:normal;color:#333;font-family:MuseoSansCyrl,sans-serif;font-size:16px}
footer a{display:inline-block;letter-spacing:normal;color:#333;font-family:MuseoSansCyrl,sans-serif;font-size:16px}
.modal1{width:427px;height:467px;text-align:center}
.test{background:#000;position:relative;height:800px}
.modal1 .calc,.modal2 .calc{-webkit-border-radius:25px;border-radius:25px;background-color:#fff;-webkit-box-shadow:0 1px 27px rgba(52,52,52,.29);box-shadow:0 1px 27px rgba(52,52,52,.29);width:427px;height:399px;opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);-webkit-transition:all .25s;transition:all .25s}
.modal1 .calc-h3{color:#333;font-family:MuseoSansCyrl,sans-serif;font-size:32px;font-weight:500;padding-top:16px;padding-bottom:7px}
.modal1 .center{height:170px}
.modal1 .content1{padding-top:28px}
.modal1 input{display:block;margin:0 auto;width:327px;height:50px;margin-bottom:10px}
.modal1 .btn{margin:21px auto 8px;display:block;font-size:24px;line-height:57px;width:328px;height:55px;float:none}
.modal1 span{color:#333;font-family:MuseoSansCyrl,sans-serif;font-size:14px;display:inline-block;vertical-align:middle;margin-top:-10px}
.modal1 .check{margin-left:5px;width:28px;height:28px;-webkit-border-radius:4px;border-radius:4px;background-clip:padding-box;background-color:#e6e6e6;display:inline-block;border:none;outline:0;vertical-align:middle}
.modal2{width:427px;background:#fff;text-align:center}
.modal2 .calc{height:310px}
.modal2 .calc-h3{color:#333;font-family:MuseoSansCyrl,sans-serif;font-size:32px;font-weight:500;padding-top:16px;padding-bottom:7px}
.modal2 .center{padding-top:25px;color:#333;font-size:20px;font-weight:700;letter-spacing:normal;height:149px;margin-bottom:20px}
.modal2 span{font-size:12px}
.modal2 span big{font-size:15px;padding:0 10px}
.btn:hover{background:#09A200;-webkit-transition:all .25s;transition:all .25s}
#hidden-box{display:none}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%}
.arcticmodal-container_i2{margin:0;border:0;vertical-align:middle}
.error-input{border:1px solid red!important}
.animation{-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5);opacity:0}
.animation.animated{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all 1s;transition:all 1s;opacity:1}
.animation1{position:relative;left:-200px;opacity:0}
.animation1.animated{left:0;-webkit-transition:all 1s;transition:all 1s;opacity:1}
.animation2{position:relative;right:-200px;opacity:0}
.animation2.animated{right:0;-webkit-transition:all 1s;transition:all 1s;opacity:1}
.animation3{position:relative;top:200px;opacity:0!important}
.animation3.animated{top:0;-webkit-transition:all 1s;transition:all 1s;opacity:1!important;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.sec5 .animation{-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}
.sec5 .animation.animated{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all .5s;transition:all .5s;-webkit-transition-delay:.5s;transition-delay:.5s}
.sec5 .animation1{position:relative;left:-200px;opacity:0}
.sec5 .animation1.animated{left:0;-webkit-transition:all .5s;transition:all .5s;opacity:1;-webkit-transition-delay:.8s;transition-delay:.8s}
.sec5 .animation2{position:relative;right:-200px;opacity:0}
.sec5 .animation2.animated{right:0;-webkit-transition:all .5s;transition:all .5s;opacity:1;-webkit-transition-delay:.8s;transition-delay:.8s}
.sec6 .animation3{position:relative;top:200px;opacity:0!important}
.sec6 .animation3.animated{top:0;-webkit-transition:all 1s;transition:all 1s;opacity:1!important}
.sec6 .animation1{position:relative;left:-200px;opacity:0}
.sec6 .animation1.animated{left:0;-webkit-transition:all .5s;transition:all .5s;opacity:1;-webkit-transition-delay:.5s;transition-delay:.5s;position:absolute}
.sec6 .animation2{position:relative;right:-200px;opacity:0}
.sec6 .animation2.animated{right:0;-webkit-transition:all .5s;transition:all .5s;opacity:1;-webkit-transition-delay:.5s;transition-delay:.5s;position:absolute}
.animation4{opacity:0}
.animation4.animated{-webkit-transition:all .5s;transition:all .5s;opacity:1;-webkit-transition-delay:.8s;transition-delay:.8s}
.mouse{-webkit-animation-delay:1s;animation-delay:1s;-webkit-animation-direction:alternate;animation-direction:alternate;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:none;animation-fill-mode:none;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:mouseDrag;animation-name:mouseDrag;-webkit-animation-play-state:running;animation-play-state:running;-webkit-animation-timing-function:cubic-bezier(.7,.01,1,1);animation-timing-function:cubic-bezier(.7,.01,1,1);-webkit-animation-delay:1s;-webkit-animation-direction:alternate;-webkit-animation-duration:.5s;-webkit-animation-fill-mode:none;-webkit-animation-iteration-count:infinite;-webkit-animation-name:mouseDrag;-webkit-animation-play-state:running;-webkit-animation-timing-function:cubic-bezier(.7,.01,1,1)}
@keyframes mouseDrag{0%{margin-bottom:-28px}
100%{margin-bottom:-48px}
}
@-webkit-keyframes mouseDrag{0%{margin-bottom:-28px}
100%{margin-bottom:-48px}
}
.rob{opacity:0;z-index:-1!important}
.calc-w{height:380px;width:800px;position:relative;margin:0 auto}
.calc{position:absolute!important;opacity:0;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .35s;transition:all .35s}
.calc.active{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;display:block}
.calc.disactive{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);display:none}
.back{position:absolute;bottom:35px;left:43px;float:left;font-size:19px;font-weight:500;font-size:16px;font-weight:500;display:inline-block;padding-left:17px;background:url(../img/arr-sm.png) no-repeat left top 3px}
.content2 .btn-big.active,.content2 .btn-big:active,.content2 .btn-big:hover{background:#fcebe0}
.content2 .btn-big{width:150px;opacity:1;color:#000;font-weight:400;text-align:center!important}
.calc .btn{margin:19px auto;display:block;float:none}
.btn-round{background-color:#fff;border:2px solid #333;color:#333}
.btn-round.disactive{background-color:#cba575;color:#fff;border-color:#cba575}
.center .content2 p{font-size:25px;color:#000;opacity:1;position:relative;padding-top:13px;text-shadow:none}
[data-var="2"] .center .content2 p{padding-top:0;margin-top:-2px}
.fot_bg{height:95px;width:100%;position:absolute;bottom:-20px;z-index:21;background-size:cover}
.fot_bg1{background:url(../img/bg1-separator.png) no-repeat center;height:34px;width:100%;position:absolute;bottom:0;z-index:21;background-size:cover}
.fot_bg2{background:url(../img/bg2-separator.png) no-repeat center;height:34px;width:100%;position:absolute;bottom:0;z-index:21;background-size:cover}
.fot_bg3{background:url(../img/bg3-separator-top.png) no-repeat center;height:34px;width:100%;position:absolute;top:0;z-index:21;background-size:cover}
.fot_bg4{background:url(../img/bg3-separator-bot.png) no-repeat center;height:34px;width:100%;position:absolute;bottom:0;z-index:21;background-size:cover}
.fot_bg5{background:url(../img/bg5-separator.png) no-repeat bottom -16px center;height:34px;width:100%;position:absolute;bottom:0;z-index:21;background-size:cover}
.ddd{line-height:20px!important;padding-top:11px!important}
.slice{position:absolute;width:100%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#s1s1{margin-top:-29.35px;top:10.891566265060241%;z-index:30}
#s1s2{margin-top:161.42px;top:26.096385542168676%}
#s1s3{margin-top:29.35px;top:24.10843373493976%}
#s1s4{margin-top:205.45px;top:62.759036%}
#s1s5{margin-top:-44.02px;top:11.337349397590362%;z-index:37;width:19%;left:50%;margin-left:-90px}
::-webkit-input-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
.bgs1{background:url(../img/bg/bg1.jpg) no-repeat center;background-size:cover;z-index:-1;width:100%;height:100%;position:absolute;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s}
.bgs2{background:url(../img/bg/bg2.jpg) no-repeat center;background-size:cover;z-index:-1;width:100%;height:100%;position:absolute;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s;float:left}
.bgs3{background:url(../img/bg/bg3.jpg) no-repeat center;background-size:cover;z-index:-1;width:100%;height:100%;position:absolute;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s}
.bgs4{background:url(../img/bg/bg4.jpg) no-repeat center;background-size:cover;z-index:-1;width:100%;height:100%;position:absolute;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s}
.bgs5{background:url(../img/bg/bg5.jpg) no-repeat center;background-size:cover;z-index:-1;width:100%;height:100%;position:absolute;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s}
.bg_sl.im1 .bgs1{z-index:1;-webkit-transition:all .25s;transition:all .25s;opacity:1}
.bg_sl.im2 .bgs2{z-index:1;-webkit-transition:all .25s;transition:all .25s;opacity:1}
.bg_sl.im3 .bgs3{z-index:1;-webkit-transition:all .25s;transition:all .25s;opacity:1}
.bg_sl.im4 .bgs4{z-index:1;-webkit-transition:all .25s;transition:all .25s;opacity:1}
.bg_sl.im5 .bgs5{z-index:1;-webkit-transition:all .25s;transition:all .25s;opacity:1}
.bg_sl:before{width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.1);z-index:8;position:absolute}
.bg_sl{width:100%;height:775px;position:absolute;top:0;left:0}