@font-face {
    font-family: 'NautilusPompilius';
    src: url('../fonts/Nautilus.eot');
    src: url('../fonts/Nautilus.eot') format('embedded-opentype'), url('../fonts/Nautilus.woff2') format('woff2'), url('../fonts/Nautilus.woff') format('woff'), url('../fonts/Nautilus.ttf') format('truetype'), url('../fonts/Nautilus.svg#Nautilus') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl_900.eot');
    src: url('../fonts/MuseoSansCyrl_900.eot') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_900.woff2') format('woff2'), url('../fonts/MuseoSansCyrl_900.woff') format('woff'), url('../fonts/MuseoSansCyrl_900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_900.svg#MuseoSansCyrl_900') format('svg');
    font-style: bold;
    font-weight: 900;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl_700.eot');
    src: url('../fonts/MuseoSansCyrl_700.eot') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_700.woff2') format('woff2'), url('../fonts/MuseoSansCyrl_700.woff') format('woff'), url('../fonts/MuseoSansCyrl_700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_700.svg#MuseoSansCyrl_700') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl_500.eot');
    src: url('../fonts/MuseoSansCyrl_500.eot') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl_500.woff') format('woff'), url('../fonts/MuseoSansCyrl_500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_500.svg#MuseoSansCyrl_500') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl_300.eot');
    src: url('../fonts/MuseoSansCyrl_300.eot') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_300.woff2') format('woff2'), url('../fonts/MuseoSansCyrl_300.woff') format('woff'), url('../fonts/MuseoSansCyrl_300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_300.svg#MuseoSansCyrl_300') format('svg');
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

*:after,
*:before {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    clear: both
}

a:after,
a:before,
table:after,
table:before,
tr:after,
tr:before,
td:after,
td:before,
br:after,
br:before,
img:after,
sub:after,
sup:after,
sub:before,
sup:before,
img:before,
span:after,
span:before,
big:before,
big:after {
    content: none
}

.clear {
    clear: both
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1em;
    font-weight: inherit;
    text-align: center
}

body {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: 300;
    letter-spacing: 0.027em;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0!important
}

#maket {
    width: 100%;
    height: 9000px;
    background: url(../maket.jpg) no-repeat center top;
    opacity: 0.4;
    position: absolute;
    top: 0;
    z-index: 30;
    display: none;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    text-align: center;
}
.wrap {
    width: 980px;
    position: relative;
}
.clear {
    clear: both;
}

header,
section,
footer {
    width: 100%;
    min-width: 980px;
    overflow: hidden;
    /* min-height: 600px; */
    /* height: 100vh!important; */
}

.logo {
    background-image: url(../img/logo.png);
    width: 301px;
    height: 90px;
    display: block;
    margin-top: 40px;
}

.btn {
    width: 235px;
    height: 52px;
    border-radius: 26px;
    background-clip: padding-box;
    background: #9fcd1b;
    color: #fff;
    font-family: "NautilusPompilius";
    font-size: 22px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
    outline: none;
    border: none;
}


.head{
    position: relative;
    /* top: 18px; */
    width: 100%;
}
header .btn {
    margin-top: 41px;
}

.right {
    float: right;
    text-align: center;
}

.left {
    float: left;
}

.phone {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    /* float: right; */
    text-align: center;
    display: inline-block;
}

.phone span {
    width: 54px;
    height: 37px;
    /* opacity: .24; */
    border-radius: 19px / 19px 19px 19px 19px;
    background-clip: padding-box;
    /* background-color: #d5b7b7; */
    padding: 5px;
    text-align: center;
    margin: 0 5px;
}

header .phone {
    padding-bottom: 15px;
    padding-top: 15px;
}

h2 {
    color: #333;
    font-family: "NautilusPompilius";
    font-size: 45px;
    line-height: 50px;
}

h2 span {
    color: #e4b21d;
}

header h2 {
    /* margin-top: 206px; */
    position: relative;
}

header {
    background: url(../img/bg-header.jpg) no-repeat center;
    position: relative;
    z-index: 20;
    height: 1015px;
    /* padding-top: 206px; */
    background-size: cover;
    /* margin-bottom: 95px; */
    min-height: 600px; */
    height: 100vh!important;
    height: 100vh!important;
}

.label {
    position: relative;
    background: url(../img/stamp.png)no-repeat center;
    width: 132px;
    height: 132px;
    float: right;
    margin-right: 3px;
}

p {
    text-align: center;
    /* opacity: .6; */
    color: black;
    font-size: 20px;
}

header p {
    /* padding-top: 435px; */
    /* padding-bottom: 43px; */
    text-shadow: 0px 0px 4px rgb(252, 231, 203);
}

.content {
    position: relative;
    text-align: center;
}
.sec2 .arrow {
    
position: absolute;
    
left: 50%;
    
margin-left: -22px;
    
bottom: 113px;
}
.sec3 .arrow {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: 121px;
}
.arrow {
    background-image: url(../img/arr-down.png);
    /* width: 43px; */
    /* height: 18px; */
    margin: 0 auto;
    display: block;
    /* margin-bottom: 10px; */
    /* position: absolute; */
}

.arrow:hover {
    background-image: url(../img/arr-down-how.png);
}
.view.arrow{
    position: absolute;
    left: 50%;
    margin-left: -90px;
    padding-top: 28px;
    /* bottom: 121px; */
    z-index: 30;
}
header .arrow {
    /* margin-bottom: 13px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -22px; */
    /* bottom: 125px; */
}
.sec6 .view {
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -89px; */
    bottom: 42px;
}
.view {
    color: #333;
    font-family: "NautilusPompilius";
    font-size: 24px;
    display: block;
    text-align: center;
}

header .view {
    /* margin-bottom: 91px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -89px; */
    /* bottom: 93px; */
    position: relative!important;
    left: 0!important;
    margin-left: 0!important;
}

.sec1 {
    background: url(../img/bg1.jpg) no-repeat center;
    margin-top: -23px;
    position: relative;
    z-index: 18;
    height: 1032px;
    background-size: cover;
}
.sec1 h2 {
    font-size: 32px;
    padding-top: 267px;
    line-height: 32px;
    padding-bottom: 45px;
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: 500;
}

.sec1 .calc {
    height: 380px;
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 27px rgba(52, 52, 52, .29);
    position: relative;
}

.calc h3 {
    color: #333;
    font-weight: 500;
    font-size: 28px;
    padding-top: 28px;
    padding-bottom: 22px;
}

input {
    display: inline-block;
    width: 237px;
    height: 50px;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: #fff;
    outline: none;
    border: 2px solid transparent;
    padding-left: 15px;
    line-height: 34px;
    color: #333;
    font-size: 20px;
    opacity: 1;
    color: black;
}


/*, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder*/

input::-webkit-input-placeholder {
    opacity: .6;
    color: #333;
    font-size: 20px;
}

input:focus {
    border: 2px solid #cba575;
}

.calc .center {
    height: 174px;
    background-color: rgba(203, 165, 117, 0.3);
    text-align: center;
    letter-spacing: 3px;
}

.center .content1 {
    padding-top: 64px;
}

.sec1 p {
    font-size: 20px;
    padding-top: 23px;
    /* padding-bottom: 232px; */
}

.back {
    color: #333;
    font-size: 20px;
}

.calc .back {
    float: left;
    margin: 27px 0 53px 50px;
    font-size: 19px;
    font-weight: 500;
	/**/
    /* font-size: 16px; */
    font-weight: 500;
    display: inline-block;
    padding-left: 17px;
    background: url(../img/arr-sm.png) no-repeat left top 3px;
}

.calc .btn {
    float: left;
    margin: 19px 0 0 27px;
    width: 280px;
    height: 55px;
}

.center .content2 {
    padding-top: 58px;
}

.content2 .btn-big {
    width: 170px;
    height: 62px;
    border-radius: 10px / 10px 10px 10px 10px;
    background-color: #fff;
    display: inline-block;
    letter-spacing: normal;
    padding-top: 7px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top;
    line-height: 47px;
}

.btn-round {
    width: 37px;
    height: 37px;
    border-radius: 19px;
    background-color: #cba575;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 6px;
    letter-spacing: normal;
    cursor: pointer;
    border: 2px solid transparent;
}

.btn-round.active {
    background-color: #fff;
    border: 2px solid #cba575;
    color: #cba575;
}

.btn-round.no-active {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}

.btn-round:hover {
    background-color: rgba(251, 233, 212, 0.64);
    border: 2px solid #cba575;
    color: #9C7C54;
}

.btns {
    /* float: left; */
    margin-top: 24px;
    margin-left: -105px;
    letter-spacing: 17px;
    position: absolute;
    bottom: 28px;
    left: 50%;
}

.calc-h3 {
    line-height: 70px;
}

.line-h,
.content2 .btn-big .line-h {
    line-height: normal!important;
}


/* section 2 */

.sec2 {
    background: url(../img/bg2-separator.png) no-repeat bottom center;
    /* background-position-y: 182px;*/
    position: relative;
    z-index: 16;
    height: 997px;
    background-size: cover;
}

.sec2 h2,
.sec3 h2 {
    font-size: 50px;
    padding-top: 92px;
}

.sec2 .content {
    text-align: center;
    padding-top: 152px;
    /* padding-bottom: 87px; */
    background: url(../img/girl-bg2.png)no-repeat center left 52.5%;
    height: 698px;
    margin-top: -9px;
}

.sec2 .trig {
    width: 345px;
    display: inline-block;
    margin-bottom: 68px;
}

.sec2 .img {
    float: left;
}

.sec2 .cont {
    float: left;
}

.sec2 .h4 {
    font-family: "NautilusPompilius";
    font-size: 32px;
    line-height: 32px;
}

.sec2 p {
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-top: 14px;
}

.sec2 .view {
    /* margin-bottom: 79px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -89px; */
    bottom: 109px;
}

.sec3 h2 {
    padding-top: 130px;
}

.sec3 {
    background-color: #fcebe0;
    margin-top: -22px;
    z-index: 14;
    position: relative;
    height: 1008px;
}

.sec3 .triger {
    text-align: center;
    letter-spacing: 10px;
    margin-top: 51px;
}

.sec3 span {
    opacity: .8;
    color: #534f4d;
    font-family: "NautilusPompilius";
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
}

.sec3 .toggle {
    display: inline-block;
    width: 83px;
    height: 48px;
    border-radius: 41px / 19px;
    background-clip: padding-box;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.sec3 .toggle[data-page="1"]:after{
    left: 32px;
}

.sec3 .toggle:after {
    content: " ";
    width: 41px;
    height: 33px;
    border-radius: 21px / 15px;
    background-color: #ffcb33;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    transition: all 0.25s!important;
    left: 7px;
    /* cursor: pointer; */
}

.sec3 .content {
    text-align: center;
    margin-top: 11px;
    letter-spacing: 7px;
    /* margin-bottom: 10px; */
    position: absolute;
    top: 0px;
    z-index: 1;
    transition: all 1s;
}

.sec3 .block {
    text-align: center;
    position: relative;
    display: inline-block;
    letter-spacing: normal;
}

.sec3 .block p {
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
}

.sec3 .block span {
    color: #534f4d;
    font-size: 13px;
    line-height: 23px;
}

.sec3 .block .img {
    height: 164px;
    line-height: 164px;
}

.sec3 .block img {
    display: inline-block;
    vertical-align: bottom;
}

.sec3 .block img:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.sec3 .content .block {
    background-image: url(../img/sec3-board.png);
    width: 208px;
    height: 275px;
    vertical-align: middle;
    margin-bottom: 5px;
    /*box-shadow: 0 0 7px rgba(52,52,52,.04);*/
}

.sec3 .btn {
    width: 126px;
    height: 37px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
}

.label-top {
    position: absolute;
    background-image: url(../img/label.png);
    width: 56px;
    height: 55px;
    top: 28px;
    right: 29px;
    font-size: 12px;
    font-weight: 500;
    transform: rotate(-20deg);
    padding-top: 12px;
    padding-left: 4px;
}

.sec3 .view {
    /* margin-bottom: 82px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -88px; */
    bottom: 117px;
}

.sec4 {
    background: url(../img/sec4-bg.png) no-repeat top 219px center;
    margin-top: -18px;
    z-index: 15;
    position: relative;
    height: 1046px;
    /* background-size: cover; */
}

.sec4 h2 {
    font-size: 50px;
    padding-top: 123px;
    line-height: 57px;
}

.sec4 .content {
    margin-top: 136px;
    height: 520px;
}

.sec4 .trig {
    margin-bottom: 205px;
    letter-spacing: 12px;
}


/*
.sec4 .trig:nth-child(3), .sec4 .trig:nth-child(4){
    margin-bottom: 164px;
    letter-spacing: 12px;
}*/

.sec4 .trig p,
.sec4 .trig img,
.sec4 .trig span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
}

.sec4 .trig p {
    font-size: 20px;
}

.sec4 .trig span {
    opacity: .8;
    color: #7f6519;
    font-size: 57px;
    font-weight: 900;
}

.left-bl {
    float: left;
    width: 308px;
}

.left-bl p {
    text-align: right;
}

.right-bl p {
    text-align: left;
}

.right-bl {
    float: right;
    width: 327px;
}
.sec4 .arrow {
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -22px; */
    /* bottom: 123px; */
}
.sec4 .view {
    /* padding-bottom: 88px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -89px; */
    bottom: 119px;
}

.sec5 {
 position: relative;
 z-index: 14;
 margin-top: -20px;
 background: #fcece1;
 background: url(../img/girl-bg5.png) no-repeat bottom left 49.6%;
 background-color: #fcece1;
 height: 989px;
}

.sec5 h2 {
    font-family: "NautilusPompilius";
    font-size: 32px;
    padding-top: 107px;
    line-height: 40px;
}

.sec5 form {
    padding-top: 26px;
    width: 964px;
    height: 105px;
    opacity: 1;
    border-radius: 53px;
    border: 3px solid #dbc5b3;
    margin: 35px auto 0;
    z-index: 20;
    text-align: center;
    letter-spacing: 4px;
}

.sec5 input {
    width: 210px;
    height: 45px;
}

.sec5 .btn {
    width: 215px;
    height: 50px;
}

.lock {
    /* opacity: .5; */
    font-size: 16px;
    background: url(../img/lock.png) no-repeat left top;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    padding-left: 24px;
}

.sec5 .content {
    margin-bottom: 252px;
    margin-top: 245px;
    letter-spacing: 261px;
}

.sec5 .trig {
    display: inline-block;
    letter-spacing: 3px;
    font-weight: 700;
}

.sec5 .trig p {
    display: inline-block;
    line-height: 28px;
    text-align: right;
    letter-spacing: normal;
    vertical-align: middle;
}

.sec5 .trig:nth-child(2) p {
    text-align: left;
}

.sec5 .trig img {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: middle;
}

.sec6 {
    height: 1000px;
    margin-top: -20px;
}

.sec6 h2 {
    font-family: "NautilusPompilius";
    font-size: 50px;
    padding-top: 122px;
}

.slide {
    margin: 0 auto;
    width: 700px;
}

.slide img {
    width: 686px!important;
    height: 415px;
    border-radius: 361px 361px / 258px 258px;
    background-clip: padding-box;
    background-color: #51b9ff;
}
.left-arr a,.right-arr a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: transparent;
}
.left-arr {
    position: absolute;
    left: 0px;
    top: 30.5%;
    background: url(../img/arr-left.png) no-repeat top center;
    height: 108px;
    width: 44px;
    cursor: pointer;
    /* margin-top: -22px; */
    z-index: 10;
}

.right-arr {
    position: absolute;
    right: 0px;
    top: 30.5%;
    background: url(../img/arr-right.png) no-repeat top center;
    height: 108px;
    width: 44px;
    cursor: pointer;
    /* margin-top: -22px; */
    z-index: 10;
}

.sliderg {
    position: relative;
    padding-top: 65px;
}

.slider-choose {
    text-align: center;
    margin-top: 63px;
    letter-spacing: 15px;
}

.slider-choose .img {
    width: 163px;
    height: 85px;
    border-radius: 88px / 16px;
    cursor: pointer;
}

.slider-choose .item:hover > .bl p {
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
}

.slider-choose .item:hover > a {
    text-decoration: none;
    color: #333;
    text-decoration: none;
}

.slider-choose .item {
    display: inline-block;
    letter-spacing: normal;
    position: relative;
    margin-bottom: 47px;
}

.slider-choose span {
    color: #53b0e1;
    font-size: 16px;
    text-decoration: underline;
    letter-spacing: 0px;
    display: inline-block;
}

.bl {
    position: relative;
    margin-bottom: 6px;
}

.bl p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 88px / 16px;
    opacity: 0.0;
    transition: 0.4s;
    background: url(../img/arr-white.png) no-repeat top 30px center;
    background-color: #9fc17d;
    height: 85px;
}



.slider-choose .item:hover span {
    text-decoration: none;
    color:black;
}

.sec6 .arrow {
    /* margin-top: 12px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -22px; */
    bottom: 68px;
    background: url(../img/arr-down.png)no-repeat bottom center;
    padding-top: 0px;
    height: 64px;
}

.maps {
    /* background: url(../img/footer-sp.png) no-repeat bottom center, url(../img/light-separ.png) no-repeat top center; */
    height: 1005px;
    position: relative;
    width: 100%;
}
.map_t {
    background: url(../img/light-separ.png) no-repeat top center;
    height: 228px;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    background-size: cover;
}
.map_b {
    background: url(../img/footer-sp.png) no-repeat bottom center;
    height: 34px;
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0;
    background-size: cover;
}
#map {
    height: 1005px;
    width: 100%;
    z-index: 1;
}

.pointer {
    position: absolute;
    background: url(../img/pointer.png) no-repeat top center;
    width: 491px;
    height: 421px;
    top: 33%;
    left: 39%
}

footer {
    text-align: center;
    letter-spacing: 273px;
    padding-top: 5px;
    margin-bottom: 10px;
}

footer p {
    display: inline-block;
    letter-spacing: normal;
    color: #333;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 16px;
}

footer a {
    display: inline-block;
    letter-spacing: normal;
    color: #333;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 16px;
}

.modal1 {
    /* position: absolute; */
    width: 427px;
    height: 467px;
    /* top: 150px; */
    /* left: 50px; */
    text-align: center;
}

.test {
    background: black;
    position: relative;
    height: 800px;
}

.modal1 {}

.modal1 .calc,
.modal2 .calc {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 1px 27px rgba(52, 52, 52, .29);
    width: 427px;
    height: 399px;
}

.modal1 .calc-h3 {
    color: #333;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 7px;
}

.modal1 .center {
    height: 170px;
}

.modal1 .content1 {
    padding-top: 28px;
}

.modal1 input {
    display: block;
    margin: 0 auto;
    width: 327px;
    height: 50px;
    margin-bottom: 10px
}

.modal1 .btn {
    margin: 21px auto 8px;
    display: block;
    font-size: 24px;
    line-height: 57px;
    width: 328px;
    height: 55px;
    float: none;
}

.modal1 span {
    color: #333;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
}

.modal1 .check {
    margin-left: 5px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #e6e6e6;
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: middle;
}

.modal2 {
    /* position: absolute; */
    width: 427px;
    height: 467px;
    /* top: 150px; */
    /* right: 50px; */
    text-align: center;
}

.modal2 .calc {
    height: 310px;
}

.modal2 .calc-h3 {
    color: #333;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 7px;
}

.modal2 .center {
    padding-top: 25px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    height: 149px;
    margin-bottom: 20px;
}


.modal2 span {
    font-size: 12px;
}
.modal2 span big{
    font-size: 15px;
    padding: 0 10px;
}	
	
.btn:hover {
    background: #a0ce1c;
}
#hidden-box{display:none}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%}
.arcticmodal-container_i2{margin:0;border:0;vertical-align:middle}
.error-input{border:1px solid red!important}
.animation {
    transform: scale(0.5);
    opacity: 0;
}
.animation.animated {
    transform: scale(1);
    transition: all 1s;
    opacity: 1;
}
.animation1 {
    position: relative;
    left: -200px;
    opacity: 0;
}
.animation1.animated {
    left: 0px;
    transition: all 1s;
    opacity: 1;
}
.animation2 {
    position: relative;
    right: -200px;
    opacity: 0;
}
.animation2.animated {
    right: 0px;
    transition: all 1s;
    opacity: 1;
}
.animation3 {
    position: relative;
    top: 200px;
    /* transform: scale(0.5); */
    opacity: 0!important;
}
.animation3.animated {
    top: 0px;
    transition: all 1s;
    opacity: 1!important;
    transform: scale(1);
}
.sec5 .animation {
    transform: scale(0.5);
}
.sec5 .animation.animated {
    transform: scale(1);
    transition: all 0.5s;
    transition-delay: 0.5s;
}
.sec5 .animation1 {
    position: relative;
    left: -200px;
    opacity: 0;
}
.sec5 .animation1.animated {
    left: 0px;
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.8s;
}
.sec5 .animation2 {
    position: relative;
    right: -200px;
    opacity: 0;
}
.sec5 .animation2.animated {
    right: 0px;
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.8s;
}
.sec6 .animation3 {
    position: relative;
    top: 200px;
    /* transform: scale(0.75); */
    opacity: 0!important;
}
.sec6 .animation3.animated {
    top: 0px;
    transition: all 1s;
    opacity: 1!important;
    /* transform: scale(1); */
}
.sec6 .animation1 {
    position: relative;
    left: -200px;
    opacity: 0;
}
.sec6 .animation1.animated {
    left: 0px;
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.5s;
    position: absolute;
}
.sec6 .animation2 {
    position: relative;
    right: -200px;
    opacity: 0;
}
.sec6 .animation2.animated {
    right: 0px;
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.5s;
    position: absolute;
}
.animation4 {
    opacity: 0;
}
.animation4.animated {
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.8s;
}
.mouse{/* display:block; *//* background:url(../img/mouse.png) no-repeat center; *//* width:36px; *//* height:56px; *//* position:absolute; *//* bottom:10.9%; *//* left:50%; *//* margin-bottom:-28px; *//* margin-left:-18px; */-webkit-animation-delay:1s;animation-delay:1s;-webkit-animation-direction:alternate;animation-direction:alternate;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:none;animation-fill-mode:none;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:mouseDrag;animation-name:mouseDrag;-webkit-animation-play-state:running;animation-play-state:running;-webkit-animation-timing-function:cubic-bezier(.7,.01,1,1);animation-timing-function:cubic-bezier(.7,.01,1,1);-webkit-animation-delay:1s;-webkit-animation-direction:alternate;-webkit-animation-duration:.5s;-webkit-animation-fill-mode:none;-webkit-animation-iteration-count:infinite;-webkit-animation-name:mouseDrag;-webkit-animation-play-state:running;-webkit-animation-timing-function:cubic-bezier(.7,.01,1,1);}
@keyframes mouseDrag{0%{margin-bottom:-28px}100%{margin-bottom:-48px}}@-webkit-keyframes mouseDrag{0%{margin-bottom:-28px}100%{margin-bottom:-48px}}
.rob {opacity: 0;z-index: -1;}




.calc-w{
    height: 380px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}
.calc{
    position: absolute!important;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.35s;
}
.calc.active{
    transform: translateX(0%);
    opacity: 1;
}
.calc.disactive{
    transform: translateX(-100%);
}
.back{
    position: absolute;
    bottom: 35px;
    left: 43px;
    float: left;
    /* margin: 27px 0 53px 50px; */
    font-size: 19px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding-left: 17px;
    background: url(../img/arr-sm.png) no-repeat left top 3px;
}
.content2 .btn-big{
    width: 150px;
    opacity: 1;
    color: black;
    font-weight: 400;
    text-align: center!important;
}
.calc .btn{
    margin: 19px auto;
    display: block;
    float: none;
}
.btn-round{
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}
.btn-round.disactive{
    background-color: #cba575;
    color: white;
    border-color: #cba575;
}
.center .content2 p{
    font-size: 25px;
    color: black;
    opacity: 1;
    position: relative;
    padding-top: 13px;
}
[data-var="2"] .center .content2 p{
    padding-top: 0px;
    margin-top: -2px;
}
.fot_bg{
    /* background: url(../img/bg-separator.png) no-repeat center; */
    height: 95px;
    width: 100%;
    position: absolute;
    bottom: -20px;
    z-index: 21;
    background-size: cover;
}
.fot_bg1{
    background: url(../img/bg1-separator.png) no-repeat center;
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 21;
    background-size: cover;
}
.fot_bg2{
    background: url(../img/bg2-separator.png) no-repeat center;
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 21;
    background-size: cover;
}
.fot_bg3{
    background: url(../img/bg3-separator-top.png) no-repeat center;
    height: 34px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 21;
    background-size: cover;
}
.fot_bg4{
    background: url(../img/bg3-separator-bot.png) no-repeat center;
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 21;
    background-size: cover;
}
.fot_bg5{
    background: url(../img/bg5-separator.png) no-repeat bottom -16px center;
    height: 34px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 21;
    background-size: cover;
}
.ddd {line-height: 20px!important;padding-top: 11px!important;}
.slice {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#s1s1 {
    margin-top: -29.349397590361445px;
    top: 10.891566265060241%;
}
#s1s2 {
    margin-top: 161.42168674698794px;
    top: 26.096385542168676%;
}
#s1s3 {
    margin-top: 29.349397590361445px;
    top: 24.10843373493976%;
}
#s1s4 {
    margin-top: 102.72289156626506px;
    top: 68.87951807228916%;
}
#s1s5 {
    margin-top: 73.37349397590361px;
    top: 78.7710843373494%;
   }
   ::-webkit-input-placeholder {color:black;}
::-moz-placeholder          {color:black;}
:-moz-placeholder           {color:black;}
:-ms-input-placeholder      {color:black;}
